.search-form {
  display: flex;
  justify-content: center;
  gap: 20px;

  padding: 10px 0;
  margin-bottom: 20px;

  background-color: hsl(240, 54%, 83%);
}

.search-input {
  width: 300px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;

  color: hsl(240, 54%, 20%);

  &::placeholder {
    color: rgb(176, 176, 232);
    font-size: 0.8em;
    letter-spacing: 1.5;
  }

  &:focus {
    border-color: hsl(240, 54%, 70%);
  }
}

.search-btn {
  padding: 10px 30px;

  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(110, 110, 212);

  cursor: pointer;

  &:hover,
  &:active {
    background-color: rgb(50, 50, 169);
  }

  &:disabled {
    background-color: hsl(240, 24%, 63%);
  }
}
